{% extends 'base.html.twig' %}

{% block title %}Edit TShirt{% endblock %}

{% block body %}
    <h1>Edit TShirt</h1>

    {{ include('t_shirt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_shirt_index') }}">back to list</a>

    {{ include('t_shirt/_delete_form.html.twig') }}
{% endblock %}
