{% extends 'base.html.twig' %}

{% block title %}TShirt index{% endblock %}

{% block body %}
    <h1>TShirt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Color</th>
                <th>Size</th>
                <th>Label</th>
                <th>RFid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_shirt in t_shirts %}
            <tr>
                <td>{{ t_shirt.id }}</td>
                <td>{{ t_shirt.color }}</td>
                <td>{{ t_shirt.size }}</td>
                <td>{{ t_shirt.label }}</td>
                <td>{{ t_shirt.rFid }}</td>
                <td>
                    <a href="{{ path('t_shirt_show', {'id': t_shirt.id}) }}">show</a>
                    <a href="{{ path('t_shirt_edit', {'id': t_shirt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_shirt_new') }}">Create new</a>
{% endblock %}
