{% extends 'base.html.twig' %}

{% block title %}TShirt{% endblock %}

{% block body %}
    <h1>TShirt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_shirt.id }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ t_shirt.color }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ t_shirt.size }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ t_shirt.label }}</td>
            </tr>
            <tr>
                <th>RFid</th>
                <td>{{ t_shirt.rFid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('t_shirt_index') }}">back to list</a>

    <a href="{{ path('t_shirt_edit', {'id': t_shirt.id}) }}">edit</a>

    {{ include('t_shirt/_delete_form.html.twig') }}
{% endblock %}
