{% extends 'base.html.twig' %}

{% block title %}Edit TShirtLocation{% endblock %}

{% block body %}
    <h1>Edit TShirtLocation</h1>

    {{ include('t_shirt_location/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_shirt_location_index') }}">back to list</a>

    {{ include('t_shirt_location/_delete_form.html.twig') }}
{% endblock %}
