{% extends 'base.html.twig' %}

{% block title %}TShirtLocation index{% endblock %}

{% block body %}
    <h1>TShirtLocation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LastLocation</th>
                <th>PastLocation</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_shirt_location in t_shirt_locations %}
            <tr>
                <td>{{ t_shirt_location.id }}</td>
                <td>{{ t_shirt_location.lastLocation }}</td>
                <td>{{ t_shirt_location.pastLocation ? t_shirt_location.pastLocation|join(', ') : '' }}</td>
                <td>{{ t_shirt_location.CreatedAt ? t_shirt_location.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('t_shirt_location_show', {'id': t_shirt_location.id}) }}">show</a>
                    <a href="{{ path('t_shirt_location_edit', {'id': t_shirt_location.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_shirt_location_new') }}">Create new</a>
{% endblock %}
