{% extends 'base.html.twig' %}

{% block title %}New TShirtLocation{% endblock %}

{% block body %}
    <h1>Create new TShirtLocation</h1>

    {{ include('t_shirt_location/_form.html.twig') }}

    <a href="{{ path('t_shirt_location_index') }}">back to list</a>
{% endblock %}
