{% extends 'base.html.twig' %}

{% block title %}TShirtLocation{% endblock %}

{% block body %}
    <h1>TShirtLocation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_shirt_location.id }}</td>
            </tr>
            <tr>
                <th>LastLocation</th>
                <td>{{ t_shirt_location.lastLocation }}</td>
            </tr>
            <tr>
                <th>PastLocation</th>
                <td>{{ t_shirt_location.pastLocation ? t_shirt_location.pastLocation|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ t_shirt_location.CreatedAt ? t_shirt_location.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('t_shirt_location_index') }}">back to list</a>

    <a href="{{ path('t_shirt_location_edit', {'id': t_shirt_location.id}) }}">edit</a>

    {{ include('t_shirt_location/_delete_form.html.twig') }}
{% endblock %}
