{% extends 'base.html.twig' %}

{% block title %}Edit TShirtBox{% endblock %}

{% block body %}
    <h1>Edit TShirtBox</h1>

    {{ include('t_shirt_box/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_shirt_box_index') }}">back to list</a>

    {{ include('t_shirt_box/_delete_form.html.twig') }}
{% endblock %}
