{% extends 'base.html.twig' %}

{% block title %}TShirtBox index{% endblock %}

{% block body %}
    <h1>TShirtBox index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TShirtRfid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_shirt_box in t_shirt_boxes %}
            <tr>
                <td>{{ t_shirt_box.id }}</td>
                <td>{{ t_shirt_box.tShirtRfid ? t_shirt_box.tShirtRfid|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('t_shirt_box_show', {'id': t_shirt_box.id}) }}">show</a>
                    <a href="{{ path('t_shirt_box_edit', {'id': t_shirt_box.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_shirt_box_new') }}">Create new</a>
{% endblock %}
