{% extends 'base.html.twig' %}

{% block title %}New TShirtBox{% endblock %}

{% block body %}
    <h1>Create new TShirtBox</h1>

    {{ include('t_shirt_box/_form.html.twig') }}

    <a href="{{ path('t_shirt_box_index') }}">back to list</a>
{% endblock %}
