{% extends 'base.html.twig' %}

{% block title %}TShirtBox{% endblock %}

{% block body %}
    <h1>TShirtBox</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_shirt_box.id }}</td>
            </tr>
            <tr>
                <th>TShirtRfid</th>
                <td>{{ t_shirt_box.tShirtRfid ? t_shirt_box.tShirtRfid|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('t_shirt_box_index') }}">back to list</a>

    <a href="{{ path('t_shirt_box_edit', {'id': t_shirt_box.id}) }}">edit</a>

    {{ include('t_shirt_box/_delete_form.html.twig') }}
{% endblock %}
